<!DOCTYPE html>
<html>
<head>
	<title>Tuga Pekan 2 hari ke-5</title>
</head>
<body>

	<div id="app">

		<ul>
			<li v-for="(keys, komentar) in komentars" track-by = "$index">
<!-- 				<template-baru :nama="komentar.nama" :tanggal="komentar.tanggal" :score="komentar.score" :index="$index">
				</template-baru>  -->

				<button v-on:click="tambah($index)" style="display: block"> + </button>
				{{komentar.nama}} || {{komentar.tanggal}} || Score : {{komentar.score}}
				<button  v-on:click="kurang($index)" style="display: block">-</button>
				<br>
				
			</li>
		</ul>


		<textarea v-model="textareavalue" rows = "10" cols ="55" v-on:keyup.13="addToList" ></textarea>

<!-- 		<template id="post-template">
			<button v-on:click="tambah()" style="display: block"> + </button>
			{{nama}} || {{tanggal}} || Score : {{score}}
			<button  v-on:click="kurang()" style="display: block">-</button>
			<br>
		</template> -->

	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@1.0.25/dist/vue.js"></script>
	<script>

		// Vue.component('template-baru',{
		// 	template: '#post-template',
		// 	props: ['nama', 'tanggal','score', 'index']
		// })

		var input = {
				 komentars : [
					{
						nama : 'komentar 1 komentar 1 komentar 1',
						tanggal : '29-07-2020',
						score : 0, 
						scoreOri : 0,
					},
					{
						nama : 'komentar 2 komentar 2 komentar 2',
						tanggal : '28-07-2020',
						score : 5,
						scoreOri : 5,
					},
					{
						nama : 'komentar 3 komentar 3 komentar 3',
						tanggal : '27-07-2020',
						score : 5,
						scoreOri : 5,
					},
				],
				textareavalue : '',
		}

		var vo = new Vue({
			el: '#app',
			data :  input, 
			methods : {
				addToList : function (){

					var today = new Date();
					var dd = String(today.getDate()).padStart(2, '0');
					var mm = String(today.getMonth() + 1).padStart(2, '0'); 
					var yyyy = today.getFullYear();
					today = dd + '-' + mm + '-' + yyyy;

					var areaValue = {
						nama : this.textareavalue,
						tanggal : today,
						score : 0,
						scoreOri : 0,					
					}
					input.komentars.push(areaValue)
					this.textareavalue = ""
				},
				tambah : function (index){
					if(input.komentars[index].score <= input.komentars[index].scoreOri){
						input.komentars[index].score = input.komentars[index].scoreOri + 1
					}else{
						input.komentars[index].score = input.komentars[index].scoreOri
					}
				},
				kurang : function(index){
					if(input.komentars[index].score >= input.komentars[index].scoreOri){
						input.komentars[index].score = input.komentars[index].scoreOri - 1
					}else{
						input.komentars[index].score = input.komentars[index].scoreOri
					}
				}
			}
		});
	</script>	

</body>
</html>